:root {
    --background-color-main: rgb(50, 50, 50);
    --background-color-priamry-components: rgb(255, 75, 0);
    --font-color-main: rgb(240, 240, 240);
    --font-color-primary-components: rgb(240, 240, 240);
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(OpenSans-VariableFont_wdth,wght.ttf) format('truetype');
}

#app,
html,
body {
    font-family: 'OpenSans';
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.appLayout {
    height: 100%;
    background-color: var(--background-color-main);
    color: var(--font-color-main);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2em;
}

.row {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.space-between{
    justify-content: space-between;
}

.btn-primary {
    background-color: var(--background-color-priamry-components);
    color: var(--font-color-primary-components);
}

.btn-speedControll {
    font-size: 8vh;
    max-width: 5em;
}

#controll .btn {
    width: 8vw;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
}
.speed{
    font-size: 2vw;
}
.pace{
    font-size: 1.5vw;
}
#controll .btn .unit{
    font-size: 1vw;
}

#start-stop {
    height: 16vh;
}

.btn {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
}

#start-stop .btn{
    font-size: 8vh;
}

#controll, #start-stop{
    height: 25vh;
}
#status{
    height: 40vh;
    justify-content: space-around;
    font-size: 10vh;
}
.description{
    font-size: 7vh;
}
.btn-default{
    border: 2px solid #ccc;
}
.status-component{
    width: 800px;
    align-self: center;
}
.xxl{
    font-size: 3em !important;
}